<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="DnsMasqWeb - Desgin By Xiaok">
		<meta name="author" content="Xiaok">
		<title>域名管理 - DnsMasqWeb - Desgin By Xiaok</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="static/css/site.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			{% include "xk_top_nav.html" %}
			<div class="row">
				{% include "xk_nav.html" %}
				<div class="span9">
					<h4>
						域名管理
					</h4>
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>
									域名
								</th>
								<th>
									子域名
								</th>
								<th>
									记录
								</th>
								<th>
									更新时间
								</th>
								<th>
									操作
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									luxiaok.com
								</td>
								<td>
									3
								</td>
								<td>
									28
								</td>
								<td>
									2014年11月22日 17:50:43
								</td>
								<td>
									<a href="#" class="view-link">编辑</a>
								</td>
							</tr>
							<tr>
								<td>
									test.com
								</td>
								<td>
									2
								</td>
								<td>
									8
								</td>
								<td>
									2014年11月22日 17:51:57
								</td>
								<td>
									<a href="#" class="view-link">编辑</a>
								</td>
							</tr>
							<tr>
								<td>
									baidu.com
								</td>
								<td>
									12
								</td>
								<td>
									128
								</td>
								<td>
									2014年11月21日 12:28:20
								</td>
								<td>
									<a href="#" class="view-link">编辑</a>
								</td>
							</tr>
							<tr>
								<td>
									qq.com
								</td>
								<td>
									28
								</td>
								<td>
									117
								</td>
								<td>
									2014年11月11日 09:18:29
								</td>
								<td>
									<a href="#" class="view-link">编辑</a>
								</td>
							</tr>
							<tr>
								<td>
									xiaok.com
								</td>
								<td>
									1
								</td>
								<td>
									12
								</td>
								<td>
									2014年11月9日 21:53:57
								</td>
								<td>
									<a href="#" class="view-link">编辑</a>
								</td>
							</tr>
							<tr>
								<td>
									linux.com
								</td>
								<td>
									1
								</td>
								<td>
									26
								</td>
								<td>
									2014年10月19日 19:51:18
								</td>
								<td>
									<a href="#" class="view-link">编辑</a>
								</td>
							</tr>
							<tr>
								<td>
									facebook.com
								</td>
								<td>
									2
								</td>
								<td>
									29
								</td>
								<td>
									2014年9月1日 22:55:31
								</td>
								<td>
									<a href="#" class="view-link">编辑</a>
								</td>
							</tr>
							<tr>
								<td>
									google.com
								</td>
								<td>
									18
								</td>
								<td>
									187
								</td>
								<td>
									2014年11月22日 17:56:13
								</td>
								<td>
									<a href="#" class="view-link">编辑</a>
								</td>
							</tr>
						</tbody>
					</table>
					<ul class="pager">
						<li class="next">
							<a href="domain/more">More &rarr;</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<script src="static/js/jquery-1.8.3.min.js"></script>
		<script src="static/bootstrap/js/bootstrap.min.js"></script>
		<script src="static/js/site.js"></script>
        {% include "xk_footer.html" %}
	</body>
</html>